# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
__tests__/
**/__tests__/
logs/
**/logs/
**/test_results.log
**/test-results.log
jest.config.js
**/jest.config.js
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
*.spec.js
*.spec.jsx
*.spec.ts
*.spec.tsx
/test
/tests
**/test.js
/.nyc_output
/cypress
/e2e
setup*.js
setupTests.js


# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env